In [1]:
import py2neo
from py2neo import Graph

In [2]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "123"))

# Testing Queries with Py2neo
### Tested Successfully

In [5]:
query = """
MATCH (n:Location) WHERE n.Region= "China" AND n.Last_Update= "2020-03-11T10:53:02" RETURN n
"""
graph.run(query).to_data_frame()

                                                   n
0  {'Recovered': '49134', 'Region': 'China', 'Dea...

In [7]:
query = """
MATCH (n:Location) WHERE n.Region= "Pakistan" AND n.Province= "Sindh" AND n.date = "20-Mar-20" RETURN n.Still_admit
"""
graph.run(query).to_data_frame()

  n.Still_admit
0           242

### Next Work is to integrate it with FLASK as Dropdown